[submodule "libs/simple-svg"]
	path = libs/simple-svg
	url = git@github.com:pmrobotix/simple-svg.git
[submodule "libs/PathFinding"]
	path = libs/PathFinding
	url = git@github.com:pmrobotix/PathFinding.git
[submodule "simulator"]
	path = simulator
	url = https://github.com/pmrobotix/Simulateur.git
